@tailwind base;
@tailwind components;
@tailwind utilities;

.stone {
	@apply p-4;
	max-width: 600px;
	border-image: none;
}


.stone h3 {
	margin-top: 0;
}

.stone .mod h4 {
}

.rarity-common {
	color: #A0A0A0;
}

.rarity-rare {
	color: #1E90FF;
}

.rarity-epic {
	color: #f800f8;
}

.rarity-legendary {
	background: linear-gradient(-45deg, #B8860B 0%, #DAA520 25%, #9d8600 50%, #DAA520 75%, #B8860B 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.stone .footer {
	border-top: 1px solid #c9ad6a;
	padding-top: 1em;
	opacity: 0.7;
}
